<!DOCTYPE html>
<html>

<body>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Even though I grew up playing soccer my whole life, vollyeball became my favorite sport to play ever since 
                    I started practicing more. This passion started after I finished watching the anime Haikyu, which shows the 
                    story of a High-School volleyball team that trains hard to compete at a National level. I liked this show so
                    much that I covered my water bottle with stickers of the anime. My roomate saw that and started inviting to play
                    volleyball with his friends at church. Like in any new hobby, I wasn't very good at the beggining, but after
                    hours of playing, I've seen how my skills have improved.</p>
                <p>The positions I enjoy the most playing are:</p>
                <ul>
                    <li> Libero - because I'm 'short'</li>
                    <li> Setter - because it reminds me of a goallie in soccer</li>
                    <li> Middle Blocker - Because I love to block spikes</li>
                    <li> Right Side Hitter - Because it's easier for me to spike here</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="~/img/Anime.jpg" id="imgAnimne" width="500" height="350"/>
            </div>
        </div>
    </div>

    <br /> <br />

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/practice.jpeg" id="imgPractice" width="500" height="350" />
            </div>
            <div class="col-md-6">
                <p>
                    I actually started taking a volleyball class here at BYU. This class has helped me better understand some concepts
                    about how the game should be played and how to improve my techqnique anytime I contact the ball. We started practicing
                    our spikes during today's class and even though I still have a lot to learn, I'm excited to improve. I'm currently playing
                    in two different soccer leagues, but I honestly think that I enjoy playing volleyball better; it's just more dynamic and explosive.
                    Every point is hard to get and you must play more focused because your mistakes will be more noticeable in volleyball.
                </p>
                <p>Other things that I do to get better at it:</p>
                <ul>
                    <li> Play with my ward during the week.</li>
                    <li> Practice my serves during my breaks from homework.</li>
                    <li> Trying to stay fit so I have more endurance while playing long games.</li>
                    <li> Ask for feedback on how to improve any time I can. </li>
                </ul>
            </div>
        </div>
    </div>

    <br /> <br />

</body>
</html>
